.diamond-1 {
  background-image: url('/imgs/diamond-1.png');
}

.diamond-2 {
  background-image: url('/imgs/diamond-2.png');
}

.diamond-3 {
  background-image: url('/imgs/diamond-3.png');
}

.diamond-4 {
  background-image: url('/imgs/diamond-4.png');
}

.diamond-5 {
  background-image: url('/imgs/diamond-5.png');
}

.diamond-6 {
  background-image: url('/imgs/diamond-6.png');
}

.diamond-7 {
  background-image: url('/imgs/diamond-7.png');
}

.diamond-8 {
  background-image: url('/imgs/diamond-8.png');
}

.diamond-9 {
  background-image: url('/imgs/diamond-9.png');
}

.diamond-10 {
  background-image: url('/imgs/diamond-10.png');
}

.diamond-11 {
  background-image: url('/imgs/diamond-11.png');
}

.diamond-12 {
  background-image: url('/imgs/diamond-12.png');
}

.diamond-13 {
  background-image: url('/imgs/diamond-13.png');
}

.spade-1 {
  background-image: url('/imgs/spade-1.png');
}

.spade-2 {
  background-image: url('/imgs/spade-2.png');
}

.spade-3 {
  background-image: url('/imgs/spade-3.png');
}

.spade-4 {
  background-image: url('/imgs/spade-4.png');
}

.spade-5 {
  background-image: url('/imgs/spade-5.png');
}

.spade-6 {
  background-image: url('/imgs/spade-6.png');
}

.spade-7 {
  background-image: url('/imgs/spade-7.png');
}

.spade-8 {
  background-image: url('/imgs/spade-8.png');
}

.spade-9 {
  background-image: url('/imgs/spade-9.png');
}

.spade-10 {
  background-image: url('/imgs/spade-10.png');
}

.spade-11 {
  background-image: url('/imgs/spade-11.png');
}

.spade-12 {
  background-image: url('/imgs/spade-12.png');
}

.spade-13 {
  background-image: url('/imgs/spade-13.png');
}

.heart-1 {
  background-image: url('/imgs/heart-1.png');
}

.heart-2 {
  background-image: url('/imgs/heart-2.png');
}

.heart-3 {
  background-image: url('/imgs/heart-3.png');
}

.heart-4 {
  background-image: url('/imgs/heart-4.png');
}

.heart-5 {
  background-image: url('/imgs/heart-5.png');
}

.heart-6 {
  background-image: url('/imgs/heart-6.png');
}

.heart-7 {
  background-image: url('/imgs/heart-7.png');
}

.heart-8 {
  background-image: url('/imgs/heart-8.png');
}

.heart-9 {
  background-image: url('/imgs/heart-9.png');
}

.heart-10 {
  background-image: url('/imgs/heart-10.png');
}

.heart-11 {
  background-image: url('/imgs/heart-11.png');
}

.heart-12 {
  background-image: url('/imgs/heart-12.png');
}

.heart-13 {
  background-image: url('/imgs/diamond-13.png');
}
