.club-1 {
  background-image: url('imgs/club-1.png');
}

.club-2 {
  background-image: url('imgs/club-2.png');
}

.club-3 {
  background-image: url('imgs/club-3.png');
}

.club-4 {
  background-image: url('imgs/club-4.png');
}

.club-5 {
  background-image: url('imgs/club-5.png');
}

.club-6 {
  background-image: url('imgs/club-6.png');
}

.club-7 {
  background-image: url('imgs/club-7.png');
}

.club-8 {
  background-image: url('imgs/club-8.png');
}

.club-9 {
  background-image: url('imgs/club-9.png');
}

.club-10 {
  background-image: url('imgs/club-10.png');
}

.club-11 {
  background-image: url('imgs/club-11.png');
}

.club-12 {
  background-image: url('imgs/club-12.png');
}

.club-13 {
  background-image: url('imgs/club-13.png');
}
