.diamond-1 {
  background-image: url('../imgs/diamond-1.png');
}

.diamond-2 {
  background-image: url('../imgs/diamond-2.png');
}

.diamond-3 {
  background-image: url('../imgs/diamond-3.png');
}

.diamond-4 {
  background-image: url('../imgs/diamond-4.png');
}

.diamond-5 {
  background-image: url('../imgs/diamond-5.png');
}

.diamond-6 {
  background-image: url('../imgs/diamond-6.png');
}

.diamond-7 {
  background-image: url('../imgs/diamond-7.png');
}

.diamond-8 {
  background-image: url('../imgs/diamond-8.png');
}

.diamond-9 {
  background-image: url('../imgs/diamond-9.png');
}

.diamond-10 {
  background-image: url('../imgs/diamond-10.png');
}

.diamond-11 {
  background-image: url('../imgs/diamond-11.png');
}

.diamond-12 {
  background-image: url('../imgs/diamond-12.png');
}

.diamond-13 {
  background-image: url('../imgs/diamond-13.png');
}
