.heart-1 {
  background-image: url('imgs/heart-1.png');
}

.heart-2 {
  background-image: url('imgs/heart-2.png');
}

.heart-3 {
  background-image: url('imgs/heart-3.png');
}

.heart-4 {
  background-image: url('imgs/heart-4.png');
}

.heart-5 {
  background-image: url('imgs/heart-5.png');
}

.heart-6 {
  background-image: url('imgs/heart-6.png');
}

.heart-7 {
  background-image: url('imgs/heart-7.png');
}

.heart-8 {
  background-image: url('imgs/heart-8.png');
}

.heart-9 {
  background-image: url('imgs/heart-9.png');
}

.heart-10 {
  background-image: url('imgs/heart-10.png');
}

.heart-11 {
  background-image: url('imgs/heart-11.png');
}

.heart-12 {
  background-image: url('imgs/heart-12.png');
}

.heart-13 {
  background-image: url('imgs/heart-13.png');
}
