.spade-1 {
  background-image: url('../imgs/spade-1.png');
}

.spade-2 {
  background-image: url('../imgs/spade-2.png');
}

.spade-3 {
  background-image: url('../imgs/spade-3.png');
}

.spade-4 {
  background-image: url('../imgs/spade-4.png');
}

.spade-5 {
  background-image: url('../imgs/spade-5.png');
}

.spade-6 {
  background-image: url('../imgs/spade-6.png');
}

.spade-7 {
  background-image: url('../imgs/spade-7.png');
}

.spade-8 {
  background-image: url('../imgs/spade-8.png');
}

.spade-9 {
  background-image: url('../imgs/spade-9.png');
}

.spade-10 {
  background-image: url('../imgs/spade-10.png');
}

.spade-11 {
  background-image: url('../imgs/spade-11.png');
}

.spade-12 {
  background-image: url('../imgs/spade-12.png');
}

.spade-13 {
  background-image: url('../imgs/spade-13.png');
}
